<!doctype html>
<html lang="en">

<head>
	<title>What to do</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
<a href="index.html"><img src="assets/img/icon.png" alt="Klorofil Logo" class="img-responsive logo" style="height: 2em;"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				
				
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">4</span>
							</a>
<ul class="dropdown-menu notifications">
	<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Wind storm next week</a></li>
	<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
	<li><a href="#" class="notification-item"><span class="dot bg-success"></span>it's going to rain this Sunday</a></li>
	<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Your ground needs more water</a></li>
	<li><a href="#" class="more">See all notifications</a></li>
</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Saddem</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								
								<li><a href="../web/index.html"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
				<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
				<!-- <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li> -->
<li><a href="next (another copy).html" class="active"><i class="lnr lnr-text-format"></i> <span>What to do </span></a></li>
			</ul>
		</nav>
	</div>
</div>
<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">What to do !!</h3>
					<div class="panel panel-headline">
						<div class="panel-body">
<h3>After Collecting Data we do think that you should cultivated potato in your land.</h3>
<br>
<h4>And this is what should you do in the next days days to assure best production </h4>
<!-- TODO LIST -->
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">To-Do List</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled todo-list">
<li>
	<label class="control-inline fancy-checkbox">
		<input type="checkbox"><span></span>
	</label>
	<p>
<span class="title">Prepare the soil</span>
<span class="short-description">* Prepare the ground with well rotted compost add a potato fertiliser high in potash.
<br>	* Be sure to spade or loosen the soil extremely well. Potatoes will not grow in hard or compact soil.</span>
		<!-- <span class="date">Oct 9, 2016</span> -->
	</p>
	<div class="controls">
		<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
	</div>
</li>
<li>
	<label class="control-inline fancy-checkbox">
		<input type="checkbox"><span></span>
	</label>
	<p>
<span class="title">Pick an appropriate time for planting in your climate</span>
<span class="short-description">Time your planting so that it falls a week or two before the last frost of the season
	for your area.</span>
		<!-- <span class="date">Oct 9, 2016</span> -->
	</p>
	<div class="controls">
		<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
	</div>
</li>
<li>
	<label class="control-inline fancy-checkbox">
		<input type="checkbox"><span></span>
	</label>
	<p>
<span class="title">Put your seed potatoes about four inches deep</span>
<span class="short-description">Potatoes should be planted in rows about 12 inches apart and at a depth of about 4
	inches. Build up the soil along the rows, forming a mound. Potatoes should be far enough apart that they shouldn't run
	into each other underground as they grow.</span>
		<!-- <span class="date">Oct 9, 2016</span> -->
	</p>
	<div class="controls">
		<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
	</div>
</li>
<li>
	<label class="control-inline fancy-checkbox">
		<input type="checkbox"><span></span>
	</label>
	<p>
<span class="title">Care for the plant</span>
<span class="short-description"> Nurturing your potato as it grows will ensure a healthy, edible product come harvest.</span>
		<!-- <span class="date">Oct 9, 2016</span> -->
	</p>
	<div class="controls">
		<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
	</div>
</li>
<li>
	<label class="control-inline fancy-checkbox">
		<input type="checkbox"><span></span>
	</label>
	<p>
<span class="title">Water the potatoes sparingly</span>
<span class="short-description">Potatoes like the soil to be not only loose but very well drained so only water them
	when they are getting dry, do not keep them moist once the tubers have formed. Be sure to plant them in soil that has
	been "hilled" or in mounds so the potato is at the top of the mound and water will run off easier. If you plant on
	level ground they will not thrive.</span>
		<!-- <span class="date">Oct 9, 2016</span> -->
	</p>
	<div class="controls">
		<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
	</div>
</li>
			
		</ul>
	</div>
</div>
<!-- END TODO LIST -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
</body>

</html>
